[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = git://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/vim-bundles/fuzzyfinder.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/c.vim"]
	path = bundle/c.vim
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/wombat256.vim"]
	path = bundle/wombat256.vim
	url = git://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/Pydiction"]
	path = bundle/Pydiction
	url = git://github.com/vim-scripts/Pydiction.git
[submodule "bundle/pyflakes.vim"]
	path = bundle/pyflakes.vim
	url = git://github.com/vim-scripts/pyflakes.vim.git
[submodule "bundle/python.vim--Vasiliev"]
	path = bundle/python.vim--Vasiliev
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/cute_python"]
	path = bundle/cute_python
	url = http://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/bisect"]
	path = bundle/bisect
	url = git://github.com/mikezackles/Bisect.git
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = git://github.com/vim-scripts/hexHighlight.vim.git
[submodule "bundle/PickAColor"]
	path = bundle/PickAColor
	url = git://github.com/vim-scripts/PickAColor.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/vim-scripts/molokai.git
[submodule "bundle/json_syntax"]
	path = bundle/json_syntax
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "bundle/argtexobj"]
	path = bundle/argtexobj
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/pyte"]
	path = bundle/pyte
	url = https://github.com/vim-scripts/pyte.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/kana/vim-scratch.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
